<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.akane">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".AkaneApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Akane"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Akane.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.NewUserActivity" />


        <meta-data
            android:name="net.dean.jraw.android.REDDIT_USERNAME"
            android:value="SuddenDapper" />
        <meta-data
            android:name="net.dean.jraw.android.CLIENT_ID"
            android:value="wYIzSK3AUKAKeA" />
        <meta-data
            android:name="net.dean.jraw.android.REDIRECT_URL"
            android:value="https://akane.app/redirect_url" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>